@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        N.º 1 de 8 cosas que hacer en Paquera
        Tours en barco y deportes acuáticos, Tours, Actividades al aire libre, Práctica de kayak y canotaje</a>.
    </p>
</div>
